/*

Theme Name: flatsome-child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0

*/

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section {
    
    padding-top: 0;
    
}
.page-wrapper {

    padding: 0;

}

.woocommerce .col,
.woocommerce .row,
.woocommerce .row .gallery,
.woocommerce .row .row:not(.row-collapse), 
.woocommerce .container .row:not(.row-collapse),
.woocommerce .lightbox-content .row:not(.row-collapse) {

    padding: 0;
    margin: 0; 

}

.row .gallery, .row .row:not(.row-collapse), .container .row:not(.row-collapse), .lightbox-content .row:not(.row-collapse) {
    
    margin-left: 0;
    margin-right: 0;
    
}

.container {
    
    padding-left: 0;
    padding-right: 0;
    
}

.product-stacked-next-prev-nav {
    
    display: none;
    
}

.product-main {
    
    padding: 50px;
    
}

.product-stacked-info {
    
    padding: 50px;
    background-color: #ffffff;
    
}

.product-gallery-stacked .slide:not(:last-child) {
    
    margin-bottom: 0;
    
}

.product-footer {
    
    padding: 50px;
    
}

.page-wrapper.my-account {
    
    padding: 50px;
    margin: 50px;
    background-color: #ffffff;
    
}

.container-width, .full-width .ubermenu-nav, .container, .row {
	
	max-width: 100%;
	
}

.vc_btn3-container {
    
    margin-top: 20px;
    margin-bottom: 0;
    
}

.full-container .vc_tta-container {
    
    margin: 50px 0;
    
}

#footer .row {
    
    max-width: 1080px;
    margin: 0 auto;
    
}

img.war_soundy_audio_control {
    
    display: none;
    
}

header img.war_soundy_audio_control {
    
    display: block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    
}

h3.background-title {
    
    font-size: 30px;
    margin-top: 50px;
    
}

body .header-inner.logo-center {

    padding: 0 100px;

}

body .stuck .header-main .nav > li > a {

    line-height: 43px;

}

body {

    font-family: 'Open Sans' !important;

}

input[type='email'], input[type='date'], input[type='search'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select2-container .select2-choice, .select2-container .select2-selection {

    border-radius: 0 !important;
    border: none !important;  

}

body .nav>li {

    margin: 0 10px;

}

#la-vie-ad {

    margin-bottom: -59px;

}

#la-vie-ad .wpb_text_column {

    margin-top: -59px;

}

#mailing-list-ad {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.45+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */        

}

#mailing-list-ad p {

    color: #ffffff;
    padding-bottom: 20px;    

}

.egyptian-treasures {

    text-align: right;
    color: #ffffff; 

}

.egyptian-treasures .wpb_wrapper {
        
    height: 100%;
        
}

.egyptian-treasures .wpb_text_column {

    padding: 150px 100px;
    background-color: rgba(0,0,0,.3);
    height: 100%;

}

.egyptian-treasures .wpb_text_column h2 {

    color: #ffffff;
    text-shadow: 0 0 10px rgba(0,0,0,1);

}

.egyptian-treasures .wpb_text_column p {

    color: #ffffff;
    text-shadow: 0 0 4px rgba(0,0,0,1);

}

.egyptian-treasures .wpb_text_column a.button {

    margin-right: 0;       

}

.island-delight-content { 

    color: #ffffff;
    position: relative;

}

.island-delight-content .wpb_text_column {

    padding: 150px 100px; 

}

.island-delight-content .wpb_text_column h2 {

    color: #663300;

}

.island-delight-content .wpb_text_column p {

    color: #663300;

}

.island-delight-content img {
    
    width: 30%;
    height: auto;
    
}

.footer-wrapper {

    background-color: #292929;
	padding: 100px;
    text-align: center;
    background-image:url(background-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h6.other-sponsors {

    color: #9c9c9c;
    margin-bottom: 30px;
    margin-top: 15px;

}

h6.prime-sponsor {

    color: #9c9c9c;
    margin-bottom: 40px;

}

.prime-sponsor-container .img img {

    width: auto !important;

    height: 140px;

}

.img img {
	
	width: auto !important;
	
}

.camf { 

    text-align: center;    

}

#image_981250958 {
    text-align: center;
}

.camf img {height: 100px;width: auto;}

.footer-invaders img {

    height: 110px;
    width: auto;
    margin-top: 18px;

}

.lotto img {

    margin-top: 40px;
    height: 50px;

}

.flycrc img {

    margin-top: 30px;
    height: 50px;

}

.other-sponsors-row {

    margin-bottom: 100px;

}

h6.other-sponsors {

    margin-top: 50px;
    margin-bottom: 70px;

}

.absolute-footer {

    color: #828282;
    margin: 0 -100px -100px -100px;    

}

.payment-icon {

    background-color: rgba(255,255,255,.5);
  
}

#footer .footer-mailing-list {

    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    background-color: rgba(0,0,0,.65);
    margin-top: 70px;

}

#footer .footer-mailing-list input[type="submit"] {

    margin-top: 15px;

}

#footer .wpcf7 .wpcf7-form-control-wrap {
	
	display: inline-block;
    width: 100%;
	
}

#footer .wpcf7 span.firstname.wpcf7-form-control-wrap,
#footer .wpcf7 span.lastname.wpcf7-form-control-wrap,
#footer input[name="firstname"] {
	
	display: inline-block;
	width: calc((100% - 50px) / 2);
	
}

#footer input[name="firstname"] {

	float: left;
	
}

#footer .wpcf7 span.lastname.wpcf7-form-control-wrap {
	
	float: right;
	
}

#footer input[name="email"], #footer span.email {
	
	width: 100%;
	
}

.img .img-inner {
	
	display: inline-block;
	
}

p.lead { 

    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.full-container {
    
    max-width: 1080px;
    width: 100%;
    margin: 0 auto !important;
    
}

.full-container .wpcf7-form-control {
    
    width: 100%;
    
}

.full-container .wpcf7-form .vc_col-sm-6 {
    
    width: 100%;
    
}

.material {
	
    margin: 50px;
    padding: 50px;
    background-color: #ffffff;
    width: calc(100% - 100px);
	
}

.half-material-container, .vc_custom_1518877548949, .third-material-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px;
    max-width: 1080px;
    margin: 0 auto !important;
    
}

.half-material-container.vc_row:after, .half-material-container.vc_row:before, .vc_custom_1518877548949.vc_row:before, .vc_custom_1518877548949:vc_row:after {
    
    display: none;   
    
}

.half-material {
    
    padding: 50px;
    background-color: #ffffff;
    width: calc(50% - 25px);
    
}

.third-material {
    
    padding: 50px;
    background-color: #ffffff;
    width: calc((100% - 100px) / 3 );
    
}

.half-material.dark, .third-material.dark {
    
    background-color: #000000;
    padding: 0;
    
}

.half-material strong, .third-material strong {
    
    font-size: 24px;
    
}

#about-intro h2 {

    text-align: left;
    color: #000000;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
    
}

#about-intro .wpb_text_column {
    
    padding-left: 100px;
    
}

#about-intro p {

    text-align: left;
    color: #000000; 
    font-size: 22px;
    
}

#about-partners .wpb_text_column {
    
    padding-right: 100px;
    
}

#about-partners h2 {   

    text-align: right;
    color: #ffffff;
    font-size: 80px;
    font-weight: 600;
    line-height: 1;

}

#about-partners p {

    text-align: right;
    color: #ffffff;
    font-size: 22px;
    
}

.checkout-breadcrumbs a {
    
    color: rgba(255,255,255,.5);

}

.page-title-inner {

    padding: 50px 0;

}

.page-title {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ab0000+0,ff4a4a+100 */

    background: rgb(171,0,0); /* Old browsers */

    background: -moz-linear-gradient(45deg, rgba(171,0,0,1) 0%, rgba(255,74,74,1) 100%); /* FF3.6-15 */

    background: -webkit-linear-gradient(45deg, rgba(171,0,0,1) 0%,rgba(255,74,74,1) 100%); /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(45deg, rgba(171,0,0,1) 0%,rgba(255,74,74,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab0000', endColorstr='#ff4a4a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  

    background-image:url(background-7.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center center;

}

.links>li>a:before, i[class^="icon-"], i[class*=" icon-"] {

    color: #ffffff;

}

#header .links>li>a:before, #header i[class^="icon-"], #header i[class*=" icon-"] {

    color: #000000;

}

.breadcrumbs a.current, .breadcrumbs a:hover {

    color: #dd3333;

}

.breadcrumbs a {

    font-size: 14px;

    letter-spacing: 1px;

    font-weight: 600;

}

.container .woocommerce:not(.row) {

    width: 100%;

    padding: 50px;

}

.woocommerce.row.row-large {

    width: 100% !important;

    max-width: 100%;

}

dl dt, dl dd {

    display: inline-block;

    margin: 0 5px 0 0;

    font-size: 14px;

    line-height: 1.75;

    text-transform: capitalize;

}

dl dt {

    clear: left;

    float: left;

    color: rgba(0,0,0,1);

    font-weight: 600;

}

dl dd {

    float: left;

    color: rgba(0,0,0,.75);

}

.product-name a {

    font-size: 30px;

    color: #000000;

    font-weight: 600;

}

.product-thumbnail img,

td.product-thumbnail,

td.product-remove {

    vertical-align: top;

}

a.remove {

    margin-top: 30px;

}

.container.cart-container, .row-main, #wrapper, #main {

    max-width: 100%;

    width: 100%;

    background-color: #e3e3e3;

    padding-left: 0;

    padding-right: 0;

}

#egyptian-treasures-gallery {

    padding: 50px;

    background-color: #ffffff;

    margin: 50px;

}

#customer_details {

    padding: 50px;

    background-color: #ffffff;

}

.woocommerce-billing-fields {

    border-top: 0;

    padding-top: 0;

}

.woocommerce .has-border {

    border: none !important;

    padding: 0 !important;

}

.woocommerce .checkout-sidebar {

    padding: 50px;

    background-color: #ffffff;

}

.container .message-container {

    max-width: 100%;

    width: 100%;

    padding: 50px;

    background-color: #ffffff;

}

.message-wrapper {

    padding-bottom: 50px;

}

.message-wrapper:not(:first-child) .message-container {

    margin-top: -50px;

    padding: 25px 50px;

}

.woocommerce-error.message-wrapper .message-container{

    background-color: #ffeaea;    

}

.flex-col button, .flex-col .button, .flex-col input {

    padding: 18px 30px;

}

form.checkout_coupon.has-border {

    padding: 50px !important;

    background-color: #ffffff;

    margin-top: -125px;

}

.widget-title i {

    color: #000000;

    margin-right: 20px;

}

.woocommerce .row.pt-0 {

    max-width: 100%;

}

.account-user {

    margin-top: 0;

}

.woocommerce-MyAccount-content {
    
    margin: -50px;
}

#la-vie-signup-page {

    text-align: center;
	padding: 50px 100px !important;

}

#la-vie-signup-page img {

    height: auto;
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
    margin-top: 50px;

}

#la-vie-signup-page form {
    
    max-width: 1080px;
    margin: 50px auto;
    
}

#la-vie-signup-page input[type="submit"] {

    margin-top: 15px;

}

input[type='email'], input[type='date'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select2-container .select2-choice, .select2-container .select2-selection {

    padding-left: 0;

    padding-right: 0;

}

input:not([type="submit"]),

select,

textarea,

select,

.select2-container .select2-choice,

.select2-container .select2-selection {

    background-color: rgba(0,0,0,0);
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    outline: 0 !important;
    border-bottom: 1px solid rgba(0,0,0,.3) !important;
    box-shadow: none;
    color: #000000;
    width: 100%;
    min-width: 300px;
    display: block;

}

.select2-container--open .select2-dropdown--below {

    border: 6px solid rgba(0,0,0,.3);

}

input:not([type="submit"]):active,

input:not([type="submit"]):focus,

select:active,

select:focus,

textarea:active,

textarea:focus {

    box-shadow: none;

}

#la-vie-signup-page input:not([type="submit"]),

#la-vie-signup-page select,

#la-vie-signup-page textarea {

    text-align: center;

    border-bottom: 3px solid rgba(255,255,255,.3) !important;
    width: 100%;
    max-width: 977px;
    margin-left: auto;
    margin-right: auto;
}

#la-vie-signup-page input:not([type="submit"]):active,

#la-vie-signup-page input:not([type="submit"]):focus,

#la-vie-signup-page select:active,

#la-vie-signup-page select:focus,

#la-vie-signup-page textarea:active,

#la-vie-signup-page textarea:focus {

    background-color: rgba(255,255,255,1);

    color: #000000;

    border-bottom: 3px solid rgba(255,255,255,1) !important;

}

footer input:not([type="submit"]),

footer select,

footer textarea {

    background-color: rgba(255,255,255,0);

    border-bottom: 3px solid rgba(255,255,255,.3) !important;

    box-shadow: none;

    color: #ffffff;

    text-align: center;

}

footer input:not([type="submit"]):active,

footer input:not([type="submit"]):focus,

footer select:active,

footer select:focus,

footer textarea:active,

footer textarea:focus {

    background-color: rgba(255,255,255,1);

    box-shadow: none;

    color: #000000;

    border-bottom: 3px solid rgba(255,255,255,1) !important;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: rgba(0,0,0,.5);

}

::-moz-placeholder { /* Firefox 19+ */

  color: rgba(0,0,0,.5);

}

:-ms-input-placeholder { /* IE 10+ */

  color: rgba(0,0,0,.5);

}

:-moz-placeholder { /* Firefox 18- */

  color: rgba(0,0,0,.5);

}

#la-vie-signup-page ::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: rgba(255,255,255,.5);

}

#la-vie-signup-page ::-moz-placeholder { /* Firefox 19+ */

  color: rgba(255,255,255,.5);

}

#la-vie-signup-page :-ms-input-placeholder { /* IE 10+ */

  color: rgba(255,255,255,.5);

}

#la-vie-signup-page :-moz-placeholder { /* Firefox 18- */

  color: rgba(255,255,255,.5);

}

#la-vie-signup-page :active::-webkit-input-placeholder,

#la-vie-signup-page :focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: rgba(0,0,0,.5);

}

#la-vie-signup-page :active::-moz-placeholder,

#la-vie-signup-page :focus::-moz-placeholder { /* Firefox 19+ */

  color: rgba(0,0,0,.5);

}

#la-vie-signup-page :active:-ms-input-placeholder,

#la-vie-signup-page :focus:-ms-input-placeholder { /* IE 10+ */

  color: rgba(0,0,0,.5);

}

#la-vie-signup-page :active:-moz-placeholder,

#la-vie-signup-page :focus:-moz-placeholder { /* Firefox 18- */

  color: rgba(0,0,0,.5);

}

:active::-webkit-input-placeholder,

:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: rgba(255,255,255,.5);

}

:active::-moz-placeholder,

:focus::-moz-placeholder { /* Firefox 19+ */

  color: rgba(255,255,255,.5);

}

:active:-ms-input-placeholder,

:focus:-ms-input-placeholder { /* IE 10+ */

  color: rgba(255,255,255,.5);

}

:active:-moz-placeholder,

:focus:-moz-placeholder { /* Firefox 18- */

  color: rgba(255,255,255,.5);

}

footer ::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: rgba(255,255,255,.5);

}

footer ::-moz-placeholder { /* Firefox 19+ */

  color: rgba(255,255,255,.5);

}

footer :-ms-input-placeholder { /* IE 10+ */

  color: rgba(255,255,255,.5);

}

footer :-moz-placeholder { /* Firefox 18- */

  color: rgba(255,255,255,.5);

}

footer :active::-webkit-input-placeholder,

footer :focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: rgba(0,0,0,.5);

}

footer :active::-moz-placeholder,

footer :focus::-moz-placeholder { /* Firefox 19+ */

  color: rgba(0,0,0,.5);

}

footer :active:-ms-input-placeholder,

footer :focus:-ms-input-placeholder { /* IE 10+ */

  color: rgba(0,0,0,.5);

}

footer :active:-moz-placeholder,

footer :focus:-moz-placeholder { /* Firefox 18- */

  color: rgba(0,0,0,.5);

}

.shop-page-title.featured-title .title-overlay {

    background-color: rgba(255,255,255,0) !important;

        

}

.category-filtering, 

.woocommerce-ordering {

    display: none;

}

.featured-title .page-title-inner {

    padding-bottom: 50px;

}

.text-center .quantity, .quantity {

    display: none;

}

.product-summary.text-center {

    text-align: left;

}

h1.page-title,

.no-results .page-title {

    background: rgba(255,255,255,0) !important;

    background-image: none !important;

}

h1.page-title {

    padding: 50px 0;

}

.normal-title .page-title-inner {

    padding: 50px 0;

}

.my-account-header {

    color: #ffffff !important;

}

.my-account-header h1 {

    color: #ffffff;

}

.my-account .vertical-tabs {

    padding: 0;

}

.wishlist-title {

    display: none;

}

.wishlist_table .add_to_cart, a.add_to_wishlist.button.alt {

    border-radius: 0;

    -moz-border-radius: 0;

    -webkit-border-radius: 0;

}

.wishlist_table tfoot {

    display: none;

}

.woocommerce .col.large-7 {

    padding-right: 25px !important;

}

.woocommerce .col.large-5 {

    padding-left: 25px !important;

}

.wpb_content_element {

    margin-bottom: 0;

}

.error-404 .page-title {

    display: none;

}

.error-404.not-found {

    margin-top: 20px;

    margin-bottom: 60px;

}

.searchwp-live-search-results-showing {

    display: none;

}

.vc_column_container>.vc_column-inner {
	
	padding: 0;
	
}

.col, .gallery-item, .columns {
	
	padding: 0;
	
}

.vc_row {
	
	margin-left: 0;
	margin-right: 0;
	
}

form.woocommerce-cart-form,
.cart-sidebar {
    
    padding: 50px;
    background-color: #ffffff;
    
}

#yith-wcwl-form { 

    padding: 50px;
    background-color: #ffffff;
    margin: 50px;

}

.off-canvas-center .mfp-content .searchform {
    
    max-width: 1080px;
    width: 100%;
    
}

.searchform-wrapper.form-flat .flex-col:last-of-type {
    
    margin-left: -75px;
    
}

.searchform .button.icon i {
    
    font-size: .75em;
    
}

.shop-container {
    
    background-color: #e3e3e3;
    padding-top: 1px;
    padding-bottom: 1px;    
}

.woocommerce .shop-container .products.row, 
.shop-container .products.row, .products.row.row-small {
    
    width: calc(100% - 100px);
    max-width: 100%;
    margin: 0 50px 50px 50px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.gallery-columns-6 .gallery-item, .large-columns-6>.col, .large-columns-6 .flickity-slider>.col, .products > .product-small {

    max-width: calc( 16.66667% - 25px );
    margin-top: 25px;
    margin-right: 25px;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px rgba(0,0,0,.2);
    border-radius: 4px;

}

.product-small .product-title a {

    color: #353535;

}

.product-small .product-title a:hover {

    color: #e41013;

}

ul.product_list_widget li img { 

    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 150px;
    
}

ul.product_list_widget li {
    
    padding-left: 0;
    
}

ul.product_list_widget li a {
    
    font-size: 26px;
    
}

/* Product Options */

.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels {

    padding: 10px 18px;
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: #f7f7f7;
    transition: all .15s linear;

}

.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels label {

    color: #808080;
    transition: all .15s linear;

}

.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels:hover {

    background-color: #424242;

}

.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels:hover label {

    color: #ffffff !important;
    background-color: transparent;

}

.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels:hover span.amount,
.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels:hover .ywapo_label_price {

    color: #ffffff !important;

}


.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels.ywapo_selected {

    border-bottom: 3px solid #f91f1f;

}

.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels.ywapo_selected label {

    color: #f91f1f;

}
.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels.ywapo_selected .ywapo_label_price {

    color: #f91f1f;

}
.woocommerce form .form-row .ywapo_input_container.ywapo_input_container_labels.ywapo_selected span.amount {

    color: #f91f1f;

}

#wc-deposits-options-form div a.wc-deposits-switcher {

    background: #f91f1f;

}

.switch-candy a {

    border: none;
    box-shadow: none;

}

#wc-deposits-options-form input.input-radio:enabled ~ label {

    text-shadow: none;
    box-shadow: none;

}

.switch-toggle {

    height: 50px;

}

.switch-candy span {

    line-height: 50px;
    font-size: 16px;
    font-weight: normal;

}

div.deposit-options.switch-toggle.switch-candy.switch-woocommerce-deposits {

    max-width: 300px;
    margin-top: 25px;

}

#wc-deposits-options-form .deposit-option {

    display: inline-block;
    margin-top: 25px;

}

.ywapo_group_container.form-row.form-row-wide h3 {

    margin-top: 25px !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;

}

.woocommerce form .form-row .ywapo_input_container input[type="number"] {

    width: auto !important;
    text-align: left !important;

}

#wc-deposits-options-form .amount {

    color: #f92020 !important;
    font-size: 1.5em !important;

}

.woocommerce-Price-currencySymbol {

    font-size: 1em !important;
    margin-top: 0 !important;

}

.deposit-amount {

    line-height: 1.5

}

.price-wrapper .price {

    font-size: 2.5em;

}

/* WooCommerce Tabs - Reviews */

.product-footer .woocommerce-tabs {

    padding: 50px;
    border-top: none;
    background-color: #ffffff;

}

.product-footer {

    padding-top: 0;

}

.nav-outline>li>a {

    border: none;

}

.social-icons {

    display: none;

}

.button.checkout, .single_add_to_cart_button {

    background-color: #f91f1f;
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 4px;

}

/* WooCommerce Product Boxes */

.product-small.box {

    background-color: #ffffff;

}

.product-small.box .box-text {

    padding: 25px;

}

.product-small.box span.amount {

    font-size: 20px;

}

.nav-pagination>li>span, .nav-pagination>li>a {

    background-color: #ffffff;
    border-color: transparent;

}

.nav-pagination>li i {

    color: #424242;

}

.payment-icon:nth-child(3),
.payment-icon:nth-child(5) {
    
    display: none !important;
        
}

/* Responsive */

@media only screen and (max-width: 1366px) {

    body .header-inner.logo-center {
        
        padding: 0 50px;
        
    }    
    
    #la-vie-signup-page {
        
        padding: 50px !important;
        
    }

    .egyptian-treasures .wpb_text_column {
    
        padding: 100px 50px;
        
    }
    
    
    .island-delight-content .wpb_text_column {
        
        padding: 100px 50px;
        
    }
    
    .footer-wrapper {
        
        padding: 100px 50px;
        
    }
    
    #footer .prime-sponsor-container {
        
        padding-left: 50px;
        
    }
    
    #footer .footer-invaders {
        
        padding-right: 50px;
        
    }
    
    .page-wrapper.my-account {
        
        margin: 25px;
        padding: 25px;
        
    }
    
    .full-container {
        max-width: 100%;
        width: calc(100% - 100px);
        margin: 0 50px !important;
    }
    
    .half-material-container, .vc_custom_1518877548949, .third-material-container {
        padding: 25px;
        max-width: 100%;
        margin: 0;
    }
    
    .container .woocommerce:not(.row) {
        padding: 0;
    }
    
    .woocommerce .col.large-7 {
        padding-right: 0 !important;
        width: 100% !important;
        max-width: 100%;
        display: block;
        flex-basis: 100% !important;
    }
    
    .woocommerce .col.large-5 {
        padding-left: 0 !important;
        width: 100% !important;
        max-width: 100%;
        display: block;
        flex-basis: 100% !important;
    }
    
    .row-divided>.col+.col:not(.large-12) {
        border-left: 1px solid #c1c1c1;
    }
    
    form.woocommerce-cart-form, .cart-sidebar {
        
        margin-bottom: 0;
        
    }
    
    .message-wrapper {
        
        padding-bottom: 25px;
        
    }
    
    .mobile-nav>.search-form, .sidebar-menu .search-form {
        
        padding: 25px;
        
    }
    
    #about-intro h2 {

        font-size: 50px;

    }

    #about-intro .wpb_text_column {

        padding-left: 50px;

    }

    #about-intro p {

        font-size: 20px;

    }

    #about-partners .wpb_text_column {

        padding-right: 50px;

    }

    #about-partners h2 {

        font-size: 50px;

    }

    #about-partners p {
        
        font-size: 20px;

    }
    
    .woocommerce .shop-container .products.row,
    .shop-container .products.row, .products.row.row-small {
        width: calc(100% - 25px);
        max-width: 100%;
        padding-top: 0 !important;
        margin: 25px;
    }

    .gallery-columns-6 .gallery-item, .large-columns-6>.col, .large-columns-6 .flickity-slider>.col, .products > .product-small {

        max-width: calc( 25% - 25px );
        flex-basis: calc( 25% - 25px );
        margin-right: 25px;

    }

    .gallery-columns-6 .gallery-item:nth-child(4n+4), .large-columns-6>.col:nth-child(4n+4), .large-columns-6 .flickity-slider>.col:nth-child(4n+4) {

        margin-right: 0;

    }
    
    .product-main {
        padding: 25px;
    }
    
    .product-stacked-info {
        padding: 25px;
    }

    .product-footer {

        padding: 25px;

    }

    .product-footer .woocommerce-tabs {

        padding: 25px;

    }

}

@media only screen and (max-width: 1024px) {
 
    body .header-inner.logo-center {
        
        padding: 0 25px;
        
    }
    
    #la-vie-signup-page {
        
        padding: 50px 25px !important;
        
    }

    body .header-main .nav > li > a {
        
        font-size: .7em;
        
    }
    
    #mailing-list-ad p {
        
        padding: 0 25px 20px 25px;
        
    }
    
    #egyptian-treasures-gallery {
        padding: 25px;
        margin: 25px;
    }
    
    .page-wrapper.my-account {
        
        margin: 0;
        
    }
    
    .full-container {
        max-width: 100%;
        width: 100%;
        margin: 0 !important;
    }
    
    .half-material-container, .vc_custom_1518877548949, .third-material-container {
        
        padding: 25px 0;
        
    }
    
    .half-material, .third-material {
        
        padding: 25px;
        
    }
    
    .material {
        margin: 25px;
        padding: 25px;
        background-color: #ffffff;
        width: calc(100% - 50px);
    }
    
    form.woocommerce-cart-form, .cart-sidebar {
        padding: 25px;
    }
    
    .container .message-container {
        padding: 25px;

    }
    
    #customer_details {
        padding: 25px;
    }
    
    .woocommerce .checkout-sidebar {
        
        padding: 25px;
        
    }
    
        
    #about-intro h2 {

        font-size: 36px;

    }

    #about-intro .wpb_text_column {

        padding: 25px;

    }

    #about-intro p {

        font-size: 16px;

    }

    #about-partners .wpb_text_column {

        padding: 25px;

    }

    #about-partners h2 {

        font-size: 36px;
        text-align: left;

    }

    #about-partners p {
        
        font-size: 16px;
        text-align: left;

    }
    
    .woocommerce .shop-container .products.row,
    .shop-container .products.row, .products.row.row-small {
        width: 100%;
        padding: 25px;
        padding-top: 0 !important;
        margin: 0;
    }

    .gallery-columns-6 .gallery-item, .large-columns-6>.col, .large-columns-6 .flickity-slider>.col, .products > .product-small {

        max-width: calc( 33.333% - calc( 25px - 25px / 3 ) );
        flex-basis: calc( 33.333% - calc( 25px - 25px / 3 ) );
        margin-right: 25px;

    }

    .gallery-columns-6 .gallery-item:nth-child(4n+4), .large-columns-6>.col:nth-child(4n+4), .large-columns-6 .flickity-slider>.col:nth-child(4n+4) {

        margin-right: 25px;

    }


    .gallery-columns-6 .gallery-item:nth-child(3n+3), .large-columns-6>.col:nth-child(3n+3), .large-columns-6 .flickity-slider>.col:nth-child(3n+3) {

        margin-right: 0;

    }

}

@media only screen and (max-width: 900px) {

    .prime-sponsor-container .img img {
        
        width: auto;
        height: auto;
        
    }
    
    .footer-invaders img {
        
        height: auto;
        
    }
    
}

@media (max-width: 849px) {
    
    .medium-text-center {
        
        width: auto !important;
        
    }
    
    .vc_custom_1448408763677 img {
        
        margin: 0 auto;
        display: block;
        clear: both;
        max-width: 350px;
        padding: 25px;    
        
    }

}

@media only screen and (max-width: 768px) {
    
    .egyptian-treasures .wpb_text_column {
    
        text-align: left;
        
    }
    
    .island-delight-content .wpb_text_column {
        
        text-align: left;
        
    }
    
    .camf img {
        
        height: auto;
        
    }

    .gallery-columns-6 .gallery-item, .large-columns-6>.col, .large-columns-6 .flickity-slider>.col, .products > .product-small {

        max-width: calc( 50% - 12.5px );
        flex-basis: calc( 50% - 12.5px );
        margin-right: 25px;

    }

    .gallery-columns-6 .gallery-item:nth-child(3n+3), .large-columns-6>.col:nth-child(3n+3), .large-columns-6 .flickity-slider>.col:nth-child(3n+3) {

        margin-right: 25px;

    }


    .gallery-columns-6 .gallery-item:nth-child(even), .large-columns-6>.col:nth-child(even), .large-columns-6 .flickity-slider>.col:nth-child(even) {

        margin-right: 0;

    }
    
}

@media only screen and (max-width: 550px) {
    
    #egyptian-treasures-gallery {
        padding: 25px;
        margin: 0;
    }    
    
    .half-material-container, .third-material-container {
        
        flex-direction: column;
        
    }
    
    .half-material, .third-material {
        
        width: calc(100% - 50px);
        margin: 25px 25px 0 25px;
    }
    
    .vc_custom_1448408763677 img {
        
        max-width: 300px;
        padding: 25px;    
        
    }
    .egyptian-treasures .wpb_text_column {
    
        padding: 25px;
        
    }
    
    .island-delight-content .wpb_text_column {
        
        padding: 25px;
        
    }
    
    #footer.footer-wrapper {
        
        padding: 25px;
        
    }
    
    #footer h6.other-sponsors {
        
        margin-bottom: 30px;
        
    }
    
    #footer .prime-sponsor-container {
        
        padding: 0;
        
    }
    
    #footer .footer-invaders {
        
        padding: 0;
        
    }
    
    #footer .footer-invaders h6 {
        
        display: none;
        
    }
    
    .camf img {
        
        margin-top: 25px;
        
    }
    
    h6.prime-sponsor {
        
        margin-top: 40px;
        
    }
    
    .prime-sponsor-container .img img {
        
        max-width: 250px;
        
    }
    
    .footer-invaders img {
        
        max-width: 250px;
        
    }
    
    #footer .wpcf7 span.firstname.wpcf7-form-control-wrap, #footer .wpcf7 span.lastname.wpcf7-form-control-wrap, #footer input[name="firstname"] {
        
        display: block;
        width: 100%;
        
    }
    
    #footer .footer-mailing-list {
        
        padding: 25px 25px 0 25px;

    }

    .woocommerce .shop-container .products.row,
    .shop-container .products.row, .products.row.row-small {

        padding-top: 0 !important;

    }

    .gallery-columns-6 .gallery-item, .large-columns-6>.col, .large-columns-6 .flickity-slider>.col, .products > .product-small {

        flex-basis: 100%;
        max-width: 100%;
        margin-right: 0;

    }
    
}

@media only screen and (max-width: 500px) {
    
    .button, button, input[type='submit'], input[type='reset'], input[type='button'] {
        
        display: block;
        width: 100%;
        padding: .5em 1.2em;
        font-size: 1em;
        
    }
    
    #mailing-list-ad p a.btn {
        
        margin-top: 20px;
        margin-left: 0 !important;
        
    }
    
    #la-vie-ad {
        
        margin-bottom: -146px;
        
    }
    
    .shop_table .product-name {
        
        width: 90%;
        
    }
        
    .product-main {

        padding: 0 !important;

    }

    .product-footer {

        padding: 0;

    }

}